* {
  padding: 0px;
  margin: 0px;
  z-index: 1;
}

canvas{
  z-index: 1;
}
html, body {margin: 0; height: 100%; overflow: hidden}

.entity{
  position: absolute;
  left: -400px;
  top: -400px;
  min-width: 250px;
  max-width: 250px;
  min-height: 250px;
  height: auto;
  background: #F6F6F6;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding-bottom: 5px;
  border-color: #D4D4D4;
  border-style: solid;
  border: 2px;
  transform-origin: top left;
  pointer-events: auto;
  padding-bottom: 10px;
}

.entityHeader{
  cursor:pointer;
  background: #d4d4d4;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  padding: 5px;
  font-family:Tahoma,Verdana,Segoe,sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #5C5C5C;
}

.entityDescription{
  font-family:Tahoma,Verdana,Segoe,sans-serif;
  padding: 5px;
  min-height: 40px;
  color: #5C5C5C;
}

.entityToolbar{
  display: flex;
  flex: 1;
  flex-direction: row;
  /*justify-content: space-evenly;*/
  /*padding-top: 10px;*/
}

.deleteEntity{
  flex: 1;
  color: white;
  background: #FF8282;
  cursor: pointer;
  min-width: 30%;
  padding: 5px;
  text-align: center;
  font-family:Tahoma,Verdana,Segoe,sans-serif;
  font-weight: bold;
  font-size: 14px;
  /*border-radius: 6px;*/
  line-height: 100%;
}
.createAttribute{
  flex: 1;
  color: white;
  background: #81DB6B;
  cursor: pointer;
  min-width: 30%;
  padding: 5px;
  text-align: center;
  font-family:Tahoma,Verdana,Segoe,sans-serif;
  font-weight: bold;
  font-size: 14px;
  /*border-radius: 6px;*/
  height: 100%;
}

.attribute{
  background-image: linear-gradient(to bottom, rgba(239, 239, 239, 0), rgba(226, 226, 226, 1) );
  position: relative;
}

.attributeTitle{
  font-family:Tahoma,Verdana,Segoe,sans-serif;
  padding: 5px;
  font-weight: bold;
  font-size: 12px;
  color: #5C5C5C;
}

.attributeValue{
  text-align: center;
  font-family:Tahoma,Verdana,Segoe,sans-serif;
  color: #5C5C5C;
}

.attributeBar{
  padding: 5px;
}

.attributeBar progress{
  width: 100%;
  -webkit-appearance: none;
  appearance: none;
  border: 1px;
  border-color: #9F9F9F;
  border-style: solid;
  border-radius: 4px;
}

.attributeBar progress[value]::-webkit-progress-bar{
  background-color: #eee;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05) inset;

}

.attributeBar progress[value]::-webkit-progress-value{
  background-color: #FF8686;
  border-radius: 2px;
}

.attributeDelete{
  position: absolute;
  right: 0px;
  top: 0px;
  width: 15px;
  height: 15px;
  color: white;
  background: #FF8282;
  cursor: pointer;
  font-size: 10px;
  line-height: 15px;
  text-align: center;
}
.attributeLink{
  right: 0px;
  top: 15px;
  position: absolute;
  width: 15px;
  height: 15px;
  color: white;
  background: #81DB6B;
  cursor: pointer;
  font-size: 10px;
  line-height: 15px;
  text-align: center;
}

.attributeEdit{
  position: absolute;
  right: 0px;
  top: 30px;
  width: 15px;
  height: 15px;
  color: white;
  background: #FFD480;
  cursor: pointer;
  font-size: 10px;
  line-height: 15px;
  text-align: center;
}

.red{
  background: blue;
  width: 100px;
  height: 20px;
  position: absolute;
  z-index: 2;
}

.blue{
  background: orange;
  width: 20px;
  height: 20px;
  position: absolute;
  z-index: 2;
}

.verticalMenu{
  position: absolute;
  left: 30px;
  top: 20%;
  height: 600px;
  width: 60px;
  background: #F6F6F6;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  pointer-events: none;
  border-color: #D4D4D4;
  border-style: solid;
  border: 2px;
}

.topLeft{
  position: absolute;
  left: 30px;
  top: 30px;
  height: 100px;
  width: 40%;
  background: #F6F6F6;
  background-image: linear-gradient(to top, rgba(239, 239, 239, 0), rgba(226, 226, 226, 1) );
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  pointer-events: none;
  border-color: #D4D4D4;
  border-style: solid;
  border: 2px;
}

.topRight{
  position: absolute;
  right: 30px;
  top: 30px;
  height: 100px;
  width: 20%;
  background: #F6F6F6;
  background-image: linear-gradient(to top, rgba(239, 239, 239, 0), rgba(226, 226, 226, 1) );
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  pointer-events: none;
  border-color: #D4D4D4;
  border-style: solid;
  border: 2px;
}

.newEntityButton{
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  line-height: 100%;
  border-style: solid;
  border-color: #5C5C5C;
  border: 2px;
  border-radius: 4px;
  cursor: pointer;
  pointer-events: auto;
}

.newEntityButton:hover{
  background: #DCDCDC;
}

.prompt {
  position: absolute;
  left: 30%;
  top: 30%;
  min-width: 40%;
  max-width: 40%;
  min-height: 250px;

  background: #F6F6F6;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding-bottom: 5px;
  border-color: #D4D4D4;
  border-style: solid;
  border: 2px;
  transform-origin: top left;
  pointer-events: auto;
  padding-bottom: 10px;
  z-index:5;
}

.promptContent form{
  display: flex;
  flex-direction: column;
  min-height: 250px;
  padding: 25px;
}

.promptContent form details{
  diplay: flex;
  flex-direction: row;
}

.promptHeader{
  cursor:pointer;
  background: #d4d4d4;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  padding: 5px;
  font-family:Tahoma,Verdana,Segoe,sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #5C5C5C;
}

.promptToolbar{
  display: flex;
  flex: 1;
  flex-direction: row;
  /*justify-content: space-evenly;*/
  /*padding-top: 10px;*/
}

.cancelPrompt{
  flex: 1;
  color: white;
  background: #FF8282;
  cursor: pointer;
  min-width: 30%;
  padding: 5px;
  text-align: center;
  font-family:Tahoma,Verdana,Segoe,sans-serif;
  font-weight: bold;
  font-size: 14px;
  /*border-radius: 6px;*/
  line-height: 100%;
}
.confirmPrompt{
  flex: 1;
  color: white;
  background: #81DB6B;
  cursor: pointer;
  min-width: 30%;
  padding: 5px;
  text-align: center;
  font-family:Tahoma,Verdana,Segoe,sans-serif;
  font-weight: bold;
  font-size: 14px;
  /*border-radius: 6px;*/
  height: 100%;
}
